.flash-box
.wrapper
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box___current-group
          gooner
        %ul.main-header__left-box__member-list
          Member:
          %li.main-header__left-box__member-list__member
            minegooner
      .main-header__edit-btn
        Edit 
    .message
    .form
      %form.new__message
        .input-box
          %input.input-box__text{placeholder:"type a message"}
          %label.input-box__image
            =fa_icon 'image', class:'icon'
        %input.submit-btn{value:"Send",type:"submit"}
          
